.B {
    text-align: center;
    color: #d21ec3;
}

body{
    background-color:#94bdbd;
}

.im{
    border-radius: 100%;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

